body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  backdrop-filter: blur(3px)!important;
  background-size: 100% 100%;
  color: black;
  background-image: url('./images/download.jpg');
  /* background-color: goldenrod; */
  /* background-color: #ffc0cb; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: selimaFont;
  src: url(font/Selima\ .otf);
}

@font-face {
  font-family: bolditalic;
  src: url(font/Tinos-BoldItalic.ttf);
}
@font-face {
  font-family: italic;
  src: url(font/Tinos-Italic.ttf);
}
@font-face {
  font-family: Parisienne;
  src: url(font/Parisienne-Regular.ttf);
}
.inline_header{
  display: inline-flex;
}
.header_img{
  height: 11em;
}
.header_msg{
  font-family: selimaFont;
  font-size: 7em;
  text-align: center;
  margin-left: 0.3em;

}

.backImg{
  position: relative;
  z-index: -10;
  width: 100%;
}

.blessings{
  text-align: center;
}

.venue{
  font-family: selimaFont;
  font-size: 2.2em;
  margin-top: 2em;
}
.blessings{
  font-family: Parisienne;
  font-size: 1.4em;
  font-weight: 600;
  margin-top: 2em;

}
.invitation_msg{
  font-family: italic;
  font-size: 1.2em;
  font-weight: 500;
  margin-top: 2em;
}
.address{
  font-family: italic;
 
}
.address a{
  color: black;
}


@media only screen and (max-width: 600px) {
  .header_img{
    height: 4.5em;
  }
  .header_msg{
    font-size: 2em;
    padding-top: 0.3em;
    margin-left: 0.2em;
  }
  .invitation_msg{
    margin-top: 3em;
  }
  .blessings{
    margin-top: 3em;
  }
  .venue{
    margin-top: 3em;
  }
}

@media only screen and (max-width: 380px) {
  .header_img{
    height: 4.5em;
  }
  .header_msg{
    font-size: 1.8em;
    padding-top: 0.3em;
    margin-left: 0.2em;
  }
}